body {
  font-family: Microsoft JhengHei;
  margin: 0px;
}

p {
  margin: 0px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #202020;

  margin: 0px;
  padding: 3px;
}

.card-link,
.card-link:link,
.card-link:visited,
.card-link:focus,
.card-link:hover,
.card-link:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;

  background-color: #202020;
  color: #ffffff;
  border-radius: 12px;
  padding: 8px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #4b4b4b;
}

.product-img {
  width: 100%;
}

.product-text-1 {
  font-size: 17px;
  padding: 7px 15px;
}
.product-text-2 {
  font-size: 16px;
  padding: 7px 15px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 500px; */
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.my-container {
  padding-top: 60px;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
.my-container1 {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  display: flex;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-product {
  box-shadow: 0px 1px 15px -4px rgba(0, 0, 0, 0.3);
}

.topnav {
  background-color: #333;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.homekit {
  color: #f2f2f2;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 59px;
}

.navtext {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3000px;
  margin-left: auto;
  margin-right: auto;
}
.navtext a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.burger {
  margin-top: 11px;
  cursor: pointer;
}
.burger div {
  background-color: #f2f2f2;
  width: 25px;
  height: 4px;
  margin: 4px;
  display: none;
}

.main_image {
  background-color: rgb(248, 248, 248);
  padding-top: 50px;
}
.maintext {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 50px;
}
.mainimage img {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}
.mainimage {
  text-align: center;
}
.hot_article {
  display: flex;

  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 15px -4px rgba(0, 0, 0, 0.3);
}
.hot_article img {
  padding-top: 0px;
  width: 100%;
  height: auto;
}
.topic-img {
  flex-basis: 65%;
  padding-right: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
.topic-img p {
  font-size: 24px;
  padding-left: 15px;
  font-weight: bold;
}

.topic-text {
  padding-top: 10px;
  text-decoration: none;
  flex-basis: 35%;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .card-product {
    flex: 100%;
  }

  .card-link {
    flex: 100%;
  }

  .hot_article {
    flex-direction: column;
    padding-right: 0%;
  }

  .topic-img {
    padding-right: 0px;
    margin-bottom: 5px;
  }
  .topic-img p {
    font-size: 20px;
    padding-left: 0%;
  }
  .topic-text {
    font-size: 16px;
  }
  .navtext {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 299px;
    padding-bottom: 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger div {
    display: block;
  }
  .my-container1 {
    justify-content: space-between;
    transition: all 0.3 ease;
  }
}

.nav-active {
  transform: translateX(0%);
}
.textvisable {
  opacity: 100%;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-2px, 5px);
  transition: all 0.3 ease;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -9px);
  transition: all 0.3 ease;
}
