#appleNav{
  background-color: #303030;
}

#warningButton{
  background-color: black;
  border-color : black;
}

.number1{
  background-color: yellow;
}

.nav-link {
  color : #D6D6D6;
}

.navbar div ul li a:hover {
  color: #F5F5F7;
}
#backgroundOf1 {
  background-color :#0071E3;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214, 214, 214, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler{
  border-color : #303030;
}
.section_container {
  position : relative;
}

.section_container img {
  padding-top : 50px;
}

.text-wrapper {
  position : absolute;
  top: 0;
  left: 0;
  right: 0;
  margin : auto;

}