div{

}
#appleNav{
  background-color: #303030;
}

#warningButton{
  background-color: black;
  border-color : black;
}

.number1{
  background-color: yellow;
}

.nav-link {
  color : #F5F5F7;
}


.navbar div ul li a:hover {
  color: #FFFFFF;
}
